/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

main {
 	min-height: 100%;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a {
	color: black;
	text-decoration: none;
}

li a:hover {
	color: #B1663C;
}


#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

#portfolio h2 {
	text-align: center;
	margin-top: 70px;
}

.filter {
	margin: auto;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.filter button{
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	text-align: center;
	padding: 8px 20px;
	background-color: transparent;
	border: 1px solid #1D6154;
	cursor: pointer;
}

.filter button:hover {
	color: white;
	background-color: #1D6154;
}

.filter button.active {
	background-color: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Login page */

.login {
	margin: 300px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 35px;
	height: 80%;
}

.login h2 {
	text-align: center;
}

.login div{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.login div input {
	width: 379px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

input:focus {
	outline: none;
}

textarea:focus {
	outline: none;
}

#se-connecter {
	border-radius: 60px;
	color: white;
	background-color: #1D6154;
	font-family: 'Syne';
	text-align: center;
	padding: 8px 40px;
	border: 1px solid #1D6154;
	cursor: pointer;
}

.login a {
	color: black;
}

#message-erreur {
	color: red;
}

.titre-projets {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 30px;
}

.modify-div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.titre-projets .modify-div {
	margin-top: 70px;
	cursor: pointer;
}

.mode-edition {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	height: 60px;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.mode-edition div {
	color: white;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.3);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.overlay--open {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.2s 0.2s ease-out;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: fit-content;
	padding-bottom: 50px;
	background-color: white;
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	display: flex;
	flex-direction: column;
}

.modal--open {
	opacity: 1;
	visibility: visible;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	transition: opacity 0.2s 0.2s ease-out;
}

.modal-header {
	margin-top: 35px;
	margin-left: 25px;
	margin-right: 25px;
	display: flex;
	flex-direction: row;
	width: calc(100% - 50px);
	justify-content: space-between;
}

.modal-header button {
	background-color: transparent;
	border: none;
	padding: 0px;
	width: fit-content;
	cursor: pointer;
}

.close-modal {
	position: absolute;
	left: 92%;
}

.modal-main h3 {
	font-family: 'Work Sans' ;
	font-weight: 400;
	font-size: 26px;
	text-align: center;
	margin-top: 15px;
	width: 100%;
	margin-bottom: 30px;
}

.fa-xmark {
	color: #000000;
}

.modal-main {
	height: fit-content;
	width: calc(77% - 50px);
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 7px;
  	align-content: flex-start;
	border-bottom: 1px solid rgba(179, 179, 179, 1);
	padding-bottom: 40px;
}

.modal-main figure {
	min-width: 18.71%;
	max-width: 18.71%;
	height: fit-content;
	position: relative;
	margin-bottom: 20px;
	flex: 1;
}

.modal-main figure img {
	width: 100%;
	object-fit: cover;
}

.fa-trash-can {
	color: white;
}

.modal-main figure button {
	position: absolute; /* Le bouton est en position absolue par rapport au conteneur */
  	top: 13%;
  	left: 82%;
	transform: translate(-50%, -50%);
	height: fit-content;
	padding: 1px 4px;
	background-color: black;
	border: none;
	padding-right: -10px;
	cursor: pointer;
}

.fa-arrow-left {
	color: #000000;
}

.cadre-ajouter {
	width: 100%;
	height: 169px;
	background-color: rgba(232, 241, 246, 1);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	position: relative;
}

.fa-image {
	margin-top: 50px;
	color:rgba(203, 214, 220, 1);
	font-size: 65px;
	margin-top: 15px;
}

.cadre-ajouter button {
	background-color: rgba(203, 214, 220, 1);
	color: rgba(48, 102, 133, 1);
	font-weight: 500;
	padding: 10px 25px;
	border-radius: 50px;
	border: none;
	font-family: 'Work Sans';
}

.cadre-ajouter p {
	font-family: 'Work Sans';
	font-size: 10px;
}

.input-picture-desciption {
	display: flex;
	flex-direction: column;
	width: 100%;
	font-family: 'Work Sans';
	gap: 15px;
}

.input-picture-desciption input {
	width: calc(100% - 8px);
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	height: 51px;
}

.input-picture-desciption select {
	width: 100%;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	height: 51px;
	outline: none;
}

#bouton-ajouter-photo {
	cursor: pointer;
}

.cadre-ajouter img {
	height: 100%;
	position: absolute;
}

.form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.none {
	display: none;
}

.ajouter-photo {
	margin-top: 20px;
	border-radius: 60px;
	color: white;
	font-family: 'Syne';
	text-align: center;
	padding: 8px 50px;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	cursor: pointer;
}

.valider {
	margin-top: 20px;
	border-radius: 60px;
	color: white;
	font-family: 'Syne';
	text-align: center;
	padding: 8px 50px;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	cursor: pointer;
}

.disabled-button {
	background-color: #ccc;
	color: #999;
	cursor: not-allowed; 
	border: none;
  }
